.login-input,
.login-textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  outline: none;
  font-size: 0.95rem;
}

.login-input::placeholder,
.login-textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.login-textarea {
  resize: none;
  height: 150px;
  width: 100%;
}

.login-password-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
  padding: 2px 10px 3px 0px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  outline: none;
  font-size: 0.95rem;
}

.login-password-collection > input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  font-size: 0.95rem;
  color: white;
}

.login-password-collection > input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.login-password-collection > span {
  font-size: 0px;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  background: var(--primaryColorDark);
  border: none;
  color: var(--textColor);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: var(--primaryColor);
}

.signup {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}
.signup span {
  color: #4ea3ff;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
.signup span:hover {
  text-decoration: underline;
}
