.chat-bot-here-wrapper {
  width: 100%;
  height: 100vh;
  background: var(--backGroundColor);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-bot-here-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.chat-bot-here-messages {
  /* flex: 1; */
  height: -webkit-fill-available;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--backGroundColor);
}

.chat-bot-here-message {
  max-width: 80%;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
}

.chat-bot-here-ai {
  background: var(--backGroundColor);
  align-self: flex-start;
  color: var(--textColor);
}

.chat-bot-here-user {
  background: var(--cardColor);
  color: var(--primaryColorDark);
  align-self: flex-end;
}

.chat-bot-here-input-section {
  display: flex;
  align-items: center;
  padding: 15px;
  background: var(--cardColor);
  border-top: 1px solid var(--borderColor);
  gap: 10px;
}

.chat-bot-here-input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
  outline: none;
}

.chat-bot-here-input:focus {
  border-color: var(--borderColorFocus);
}

.chat-bot-here-send-btn {
  height: 38px;
  width: 60px;
  background: var(--primaryColorDark);
  color: var(--cardColor);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.chat-bot-here-send-btn.icon {
  transition: all 0.3s ease-in-out;
}

.chat-bot-here-send-btn:hover.icon {
  transform: translateX(2px);
}
