.dashboard-main-container {
  width: 100%;
  min-height: 100vh;
  background: var(--backGroundColor);
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  background: var(--cardColor);
  padding: 28px;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
  min-height: 275px;
  box-shadow: 0px 0px 10px var(--boxShadowColor);
}

.dashboard-header-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.dashboard-title {
  font-size: 30px;
  font-weight: 700;
}

.dashboard-user-stats {
  display: flex;
  gap: 18px;
  margin-top: 20px;
}

.dashboard-stat-number {
  color: var(--primaryColor);
}

.dashboard-stat-box {
  background: var(--backGroundColor);
  padding: 15px 40px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.dashboard-image img {
  object-fit: contain;
  margin-right: 20px;
  height: 280px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.dashboard-image.male img {
  height: 350px;
}

.dashboard-image.female img {
  height: 280px;
}

.dashboard-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 22px;
}

.card {
  background: var(--cardColor);
  padding: 22px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px var(--boxShadowColor);
}

.recharts-responsive-container,
.recharts-responsive-container * {
  outline: none !important;
}
.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}

.activity-card{
  padding: 22px 10px 10px;
}

.activity-card > .card-title{
  padding-left: 12px;
}

.progress-card {
  text-align: center;
}

.progress-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  background: conic-gradient(#1fc5a2 0% 80%, #1fc5a2a1 80% 100%);
  padding: 14px;
}

.inner-circle {
  width: 100%;
  height: 100%;
  background: var(--backGroundColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle span {
  font-size: 28px;
  font-weight: 700;
}

.progress-note {
  margin-top: 12px;
  font-size: 14px;
  color: var(--textColorMuted);
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.view-all {
  font-size: 14px;
  color: var(--primaryColorDark);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.view-all:hover {
  text-decoration: underline;
}

.goal-row,
.schedule-row {
  background: var(--backGroundColor);
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-info h4,
.schedule-info h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

.goal-value,
.schedule-value {
  font-size: 14px;
  font-weight: 600;
  color: var(--primaryColor);
}
