.user-sidebar-container {
  width: 260px;
  background: var(--TopbarBackGroundColor);
  border-right: 1px solid var(--borderColorFocus);
  height: 100vh;
  font-family: sans-serif;
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  overflow-y: auto;
  z-index: 100;
}

.user-sidebar-content {
  width: 100%;
}

.user-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--borderColorFocus);
  padding: 20px;
}

.user-sidebar-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-sidebar-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-sidebar-title {
  font-size: 23px;
  margin-top: 4px;
  font-weight: bold;
  color: var(--primaryColor);
}

/* MENU LIST */
.user-sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  list-style: none;
  gap: 35px;
  padding: 20px;
  margin-top: 30px;
}

.user-sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  color: var(--textColor);
  transition: all 0.3s ease-in-out;
}

.user-sidebar-item.active {
  border-left: 4px solid var(--primaryColor);
  padding: 8px;
  color: var(--primaryColor);
}

.user-sidebar-item:hover {
  color: var(--primaryColor);
}

.user-sidebar-item::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--primaryColor);
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}
.user-sidebar-item:hover::after {
  width: 100%;
}

.user-sidebar-item.active:hover::after {
  width: 0px !important;
}
.user-sidebar-icon {
  font-size: 18px;
}

.user-sidebar-footer {
  border-top: 1px solid var(--borderColorFocus);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--TopbarBackGroundColor);
}

.user-sidebar-footer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: var(--cardColor);
  background-color: var(--errorColor);
  width: 110px;
  padding: 8px;
  transition: all 0.2s;
}
.user-sidebar-footer > button:hover {
  gap: 5px;
}

.sidebar-switch-btn {
  display: none;
}

@media (max-width: 768px) {
  .users-main-container {
    margin-left: 0px;
  }
  .user-sidebar-container-close {
    left: -260px;
  }
  .user-sidebar-container-open {
    left: 0px;
  }

  .sidebar-switch-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 45px;
    border: 1px solid var(--borderColorFocus);
    background-color: var(--TopbarBackGroundColor);
    top: 50%;
    z-index: 1000;
    color: var(--primaryColor);
    border-radius: 0px 4px 4px 0px;
  }
}
